---
import { OpenSearchBtn } from "./OpenSearchBtn"
---

<div class="account-con">
  <div class="inner-account-con flex items-center justify-center">
    <OpenSearchBtn client:load /> 
    <a href="/profile" class="account-link">
      <i class="fas fa-user-circle text-sm"></i>
    </a>    
  </div>
</div>