---
---

<div class="account-con">
  <div class="inner-account-con flex items-center justify-center">
    <button type="button" class="search-account-btn">
      <i class="fas fa-search"></i>
    </button>  
    <a href="/profile" class="account-link">
      <i class="fas fa-user-circle text-sm"></i>
    </a>    
  </div>
</div>