---
import { OpenSearchBtn } from "./OpenSearchBtn"
import { AccountBtn } from "./AccountBtn"
---

<div class="account-con">
  <div class="inner-account-con flex items-center relative">
    <OpenSearchBtn client:load /> 
    <AccountBtn client:load />   
  </div>
</div>