---
import { OpenSearchBtn } from "./OpenSearchBtn"
---

<div class="account-con">
  <div class="inner-account-con flex items-center relative">
    <OpenSearchBtn client:load /> 
    <button type="button" class="account-button">
      <i class="fas fa-user-circle text-3xl"></i>
    </button>    
  </div>
</div>