---
import { DISQUS_URL } from "../../../utilities/config";
const { PAGE_URL, PAGE_IDENTIFIER } = Astro.props;
---

<div class="comment-section mt-10">
    <div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<script define:vars={{ PAGE_URL, PAGE_IDENTIFIER, DISQUS_URL  }}>
    let disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = DISQUS_URL;
    s.setAttribute('data-timestamp', + new Date());
    (d.head || d.body).appendChild(s);
    })();    
</script>