---
import Nav from "../Nav/Nav.astro"
import Title from "../Title/Title.astro"
import MobileMenu from "../MobileMenu/MobileMenu.astro"
import Account from "../Account/Account.astro"
import Search from "../Search/Search"
import "./HeaderStyle.scss"
---

<header class="main-header">
  <div class="inner-con px-2 py-2 flex items-center justify-between relative border-b-zinc-700 border-b-2 mb-2">
    <div class="left-side flex">
      <MobileMenu/>
      <Title/>
      <Nav/>
    </div>
    <Search client:load />
    <Account/>
  </div>
  <div class="mobile-search-bar flex justify-center">
    <Search client:load />
  </div>
</header>