---
import Nav from "../Nav/Nav.astro"
import Title from "../Title/Title.astro"
import MobileMenu from "../MobileMenu/MobileMenu.astro"
import Account from "../Account/Account.astro"
---

<header class="main-header">
  <MobileMenu></MobileMenu>
  <Title></Title>
  <Nav></Nav>
  <Account></Account>
</header>