@import '../../../styles/global/mediaQueries.scss';


// .nav-con, .search-con, 
.menu-nav, .nav-con, .search-con {
  display: none;
}

.mobile-search .search-con {
  display: block;
}

.mobile-search {
  display: none;
}

  .search-account-btn {
    font-size: 25px;
    margin: 0 10px;
    // top: 0px;
    right: 10px;
    position: relative;
  }


@include media-medium {
  .nav-con   {
    display: flex; 
  }
}

@include media-xxlarge {
  .inner-con .search-con   {
    display: flex; 
  }
    .search-account-btn {
      display: none;
    }
}

.inner-site-logo-con {
  width: 100px;
}

.account-link > i, .menu-button > i {
  font-size: 25px;
}
