.scrollable::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollable::-webkit-scrollbar-track {
  background: #18181b;    
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #39393f;    
  border-radius: .25rem;      
}

