---
import { navs } from "../../../resources/navLinks"
import { LinkList } from "../../Widgets/LinkList/LinkList"
---

<div class="nav-con">
  <nav class="main-nav">
    <LinkList items={navs} className="nav-list" ></LinkList>
  </nav>
</div>
