@import "../global/mediaQueries.scss";
// $_padding: 16px;

.main-content {
  & > .inner-con {
    display: flex;
    flex-direction: column;

    @include media-xlarge {
      flex-direction: row;
    }

    .outer-profile-details-con {
        align-items: start;
        border: solid;
        
        @include media-xsmall {
          flex-direction: column;
          width: 20%;
        }
    }

    .profile-details-con {
        @include media-xsmall {
          flex-direction: column;
          // width: 20%;
        }
      }
  }

  // @include media-medium {
  // }

  .profile-details-con {
    flex-direction: column;
    max-width: 700px;

    @include media-xsmall {
      flex-direction: row;
    }

    @include media-xsmall {
      flex-direction: row;
    }
  }

  @include media-xlarge {
    display: flex;
    align-items: start;
    flex-direction: row;
  }

  .profile-details-con {
    @include media-xlarge {
      // position: relative;
      // top: 22.5px;
      display: flex;
      flex-direction: row;
    }
  }
}
