---
---

<div class="alertbox w-full flex justify-center sticky top-0 my-2">
	<div class="inner-alert-box border border-zinc-500 bg-zinc-800 rounded-full p-3">
		<p class="msg text-center text-sm"></p>
	</div>
</div>  

<style lang="scss">
	.alertbox {
		display: none;
	}
</style>