---
---

<div class="alertbox w-full flex justify-center sticky z-10 top-0">
	<div class="inner-alert-box border border-zinc-500 bg-zinc-800 rounded-full py-1 px-2 my-2">
		<p class="msg text-center text-sm"></p>
	</div>
</div>  

<style lang="scss">
	.alertbox {
		display: none;
	}
</style>