---
import MainLayout from '../layouts/main.astro';
const search = Astro.url.searchParams.get('search');
console.log({ search })
---
<MainLayout title="Filter">	
	<p class="bg-red-500">
		i am searching for {search}
	</p>
</MainLayout>