---
import MainLayout from '../layouts/main.astro';
---

<MainLayout title="Renew Password">
	<div class="fake-content"></div>
</MainLayout>

<script>
	//@ts-ignore
	document.querySelector(".page-loader-con").style.display = "flex"

  setTimeout(function() {
		$(".account-button").click()
		$(".show-renew-btn").click()
		$(".page-loader-con").css("display", "none")
  }, 5000) 
</script>

<style lang="scss">
	.fake-content {
		height: 53vh;
	}
</style>