---
import { navs } from "../../../resources/navLinks"
import { LinkList } from "../../Widgets/LinkList/LinkList"
---

<menu class="mobile-menu">
  <div class="mobile-menu-button-con">
    <button class="menu-button">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <nav class="menu-nav">
    <LinkList items={navs} className="menu-nav-list" ></LinkList>
  </nav>
</menu>
