---
// import Nav from "../Nav/Nav.astro"
import Title from "../Title/Title.astro"
// import MobileMenu from "../MobileMenu/MobileMenu.astro"
// import Account from "../Account/Account.astro"
// import Search from "../Search/Search"
---

<footer class="main-footer">
  <div class="right-side-con">
    <div class="outer-socials-con">
      <Title></Title>
      <div class="inner-socials-con">
        <nav class="socials-con">
        </nav>
      </div>
    </div>
  </div>
</footer>