---
import { FeaturesSlider} from "../../Widgets/InnerFeaturesSlider/innerFeaturesSlider";

const { data } = Astro.props 
---

<div class="features-slider">
	<FeaturesSlider data={data} className="home-features" />
</div>


<script>
  // const swiper = new Swiper()
</script>