---
import { getValues } from "../../../services/MangaRealm.api/admin/handlers.ts"

const values = await getValues()
const siteLogo = values.images.site_logo.value
---

<div class="site-logo-con pl-3">
  <div class="inner-con inner-site-logo-con">
    <a href="/" class="site-link">
      <img src={siteLogo} alt="site logo" class="site-logo w-full h-full">
    </a>
  </div>
</div>