---
const siteLogo: string = "/site-logo.png";
---

<div class="site-logo-con">
  <div class="inner-con inner-site-logo-con">
    <a href="/" class="site-link">
      <img src={siteLogo} alt="site logo" class="site-logo">
    </a>
  </div>
</div>